head,
body{
font-family: sans-serif;
}
.text{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}
.heading1{
    font-size: 64px;
    color: #1F3F68;
}
.heading2{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.heading3{
    font-size: 36px;
    text-align: center;
}