* {
    margin: 0;
    padding: 0;
    }
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.uptop {
    flex-grow: 1;
}
.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    flex-grow: 1;
}
.header {
display: flex;
justify-content: space-between;
list-style-type: none;
padding-top: 42px;
}
.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top__back.png);
    background-repeat: no-repeat;
    background-position: right center;
    block-size: 44%;
}
.top__botton{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}          
head,
body{
font-family: sans-serif;
}
.text{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}
.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}
.text-1{
    width: 425px;
}
.what-we-do {
    padding-top: 64px;
}
.titlebig{
    font-size: 64px;
    width: 510px;
    font-weight: 300;
    color: #1F3F68;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;

}
.titlemiddle{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.titlenormal{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}
.titlesmall{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}
.titles{
    width: 340px;
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 32px;
}
.card-box{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}
.card{
    width:359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.card__img {
    align-self: center;
    margin-bottom: 51px;
}
.card__link {
    font-style: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}
.enter{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.send{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
.main {
    display: flex;
}
.project__img {
    width: 100%;
}
.project__parent {
   display: flex;
   justify-content: space-between;
   margin-top: 32px;
    margin-bottom: 112px;
}
.project__item{
    position: relative;
    flex-grow: 1;
}
.project__item_margin {
    margin-right: 32px;
}
.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position:absolute;
    top: 64px;
    right: 64px;
}
.project__parent__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position:absolute;
    left: 32px;
    bottom: 339px;
}
.map{
    width: 1140px;
}
.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}
.footer__text{
    width: 495px;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.footer__top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text_footer__top {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    width: 495px;
}
.footer__top__botton {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
    display: inline-block;
}
.text_footer__copy{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
}
.footer__copy {
    margin-top: 64px;
}
hr {
    opacity: 0.4;
}
.footer__info_contact {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}
.footer__info_contact:first-child::before {
    content: 'A.';
    display: block;
    margin-right: 16px;
}
@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    .top__info {
        background-position: right 280px;
    }
    .card-box {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 32px;
    }
}
@media (max-width: 667px) {
    .header {
        padding-top: 24px;
    }
    .top{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }    
    .titlebig {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }
    .top__text {
        width: 100%;
        text-align: center;
    }
    .top__botton {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }
    .titlebig {
        font-size: 24px;
        line-height: 28px;      
    }
    .what-we-do {
        padding-top: 48px;
    }
    .card-box {
        padding-top: 32px;
    }
    .card {
        width: 100%;
    }
    .text_project {
        width: 100%;
    }
    .project__text {
        font-size: 16px;
        line-height: 19px; 
        top: 16px;
        right: 16px;
    }
    .project__parent__text {
        left: 16px;
        font-size: 16px;
        line-height: 19px;
    }
    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }
    .project__item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

}